/src
/logs
**/bin/
**/obj/
*.user
*.suo
*.cache
*.force
solutions/**/*.zip
installer2/*.class
installer2/*.jar
/solutions/packages
solutions/documentation/html
solutions/documentation/*.tmp
solutions/*.zip
solutions/.vs/tModLoader/v15/sqlite3/storage.ide
