[submodule "setup/PatchReviewer"]
	path = setup/PatchReviewer
	url = https://github.com/Chicken-Bones/PatchReviewer.git
[submodule "FNA"]
	path = FNA
	url = https://github.com/tModLoader/FNA.git
[submodule "FNA2"]
	path = FNA2
	url = https://github.com/gold-meridian/FNA
