/src
/setup/logs
**/bin/
**/obj/
**/packages/
.vs
*.user
*.suo
*.cache
*.force
installer2/*.class
installer2/*.jar
solutions/ReleaseExtras/JourneysEndCompatibilityContent/Images
solutions/ReleaseExtras/LinuxFiles
solutions/ReleaseExtras/LinuxMacSharedFiles
solutions/ReleaseExtras/MacFiles
solutions/ReleaseExtras/WindowsFiles
solutions/documentation/html
solutions/documentation/*.tmp
solutions/**/*.zip
solutions/**/*.tar.gz
**/packages/
**/.vs/
**/.idea/
/test/Terraria.xml
/test/tModLoader.xml
/test/Test Local/Players
/test/Test Local/Worlds
/test/Test Local/Logs
/test/Test Local/*.json
/test/Test Local/Mods
/test/Test Local/Mod Configs
/ExampleMod/Fonts/ExampleFont.xnb
/14*
/artifacts
solutions/tModLoader v*
solutions/Release/
**/msbuild.binlog
/steam_build
