<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Terraria.ModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Terraria.ModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Terraria.ModLoader.Properties.Settings>
            <setting name="SteamDir" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\terraria</value>
            </setting>
            <setting name="TerrariaDiffCutoff" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="tModLoaderDiffCutoff" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="PatchMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormatAfterDecompiling" serializeAs="String">
                <value>True</value>
            </setting>
        </Terraria.ModLoader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Terraria.ModLoader.Properties.Settings>
            <setting name="ClientVersion" serializeAs="String">
                <value>1.4.1.1</value>
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value>1.4.1.1</value>
            </setting>
            <setting name="SteamClientWinMD5" serializeAs="String">
                <value>6b85b2a8ea384384c1090d784f3fcff6</value>
            </setting>
            <setting name="GoGClientWinMD5" serializeAs="String">
                <value>bd8c6736cf4e33e4adf304ef9f492b98</value>
            </setting>
        </Terraria.ModLoader.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
